name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  fmt:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - run: cargo +nightly fmt --all --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: cargo clippy --workspace --all-features --all-targets -- -D warnings --allow deprecated

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: arduino/setup-protoc@v3
      - uses: taiki-e/install-action@nextest
      - run: cargo nextest run --workspace --all-features

  build-server:
    name: Build s2-lite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: arduino/setup-protoc@v3
      - name: Build s2-lite
        run: cargo build --release -p s2-lite
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: server-binary
          path: target/release/server
          retention-days: 1

  sdk-integration-tests:
    name: SDK Integration Tests
    needs: [build-server]
    uses: s2-streamstore/s2-ci/.github/workflows/sdk-integration-tests.yml@main
    with:
      mode: local
      server-binary: server
      server-port: 80
      sdks: |
        [
          {
            "name": "go",
            "repo": "s2-streamstore/s2-sdk-go-old",
            "ref": "main",
            "lang": "go",
            "go-version": "1.23",
            "test_cmd": "go test -v -count=1 ./s2/..."
          }
        ]
