name: Test Binary Builds

on:
  pull_request:
    paths:
      - 'Cross.toml'
      - '.github/workflows/test-builds.yml'
      - '.github/workflows/release.yml'
  push:
    branches:
      - test/binary-builds

jobs:
  build_binaries:
    name: ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            target: aarch64-unknown-linux-gnu
            deps: |
              sudo apt-get update
              sudo apt-get install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu
          - os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-22.04
            target: x86_64-unknown-linux-musl
            deps: |
              sudo apt-get update
              sudo apt-get install -y musl-tools
          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-musl
            deps: |
              sudo apt-get update
              sudo apt-get install -y musl-tools
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: windows-latest
            target: aarch64-pc-windows-msvc
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""
          target: ${{ matrix.target }}
      - name: Install dependencies
        if: matrix.deps != ''
        run: ${{ matrix.deps }}
        shell: bash
      - name: Set CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER
        if: matrix.target == 'aarch64-unknown-linux-gnu'
        run: echo "CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER=aarch64-linux-gnu-gcc" >> $GITHUB_ENV
      - name: Install cross
        if: matrix.use_cross
        run: cargo install cross --git https://github.com/cross-rs/cross --rev 846d469b
      - name: Build
        run: ${{ matrix.use_cross && 'cross' || 'cargo' }} build --release --package s2-cli --target ${{ matrix.target }}
      - name: Verify binary
        shell: bash
        run: file target/${{ matrix.target }}/release/s2*
